@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content{
  margin-bottom: 4rem;
}