# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/node_modules
/deployment/server/node_modules
/deployment/client/node_modules


/.pnp
.pnp.js

# testing
/coverage

# production
# /deployment/server/vercel.json
/build

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# confidential
mongo_creds.txt
temp.txt
/client/temp.txt
.env

/deployment/client/src/components/UserMenu.tsx
