.companion-card{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    background-color: #f0f0f0;
    font-size: 1.25rem;
    width: 100%;
    max-width: 400px;
}

.avatar-frame {
    width: 45px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.contact-frame {
    width: 45px;
    aspect-ratio: 1/1;
    border:none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    /* margin: 0; */
}

.companion-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}
