.info-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    padding: 16px;
    max-width: fit-content;
    text-align: center;
    font-size: 1.3rem;
  }
  