.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .navbar__site-name {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar__avatar-frame {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    /* margin-right: 10px; */
  }
  
  .navbar__avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .navbar__logout {
    background-color: #e53935;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navbar__logout:hover {
    background-color: #c62828;
  }

  .user-trips-dialog{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 400px;
    position: absolute;
    z-index: 100;
  }

  .dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 0.3rem; */
  }

  .your-trips-close-btn{
    margin: 0.8rem 0;
  }
  