.companion-card{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1rem;
    border-radius: 3rem;
    background-color: #f0f0f0;
    font-size: 1.25rem;
    width: 100%;
    max-width: 400px;
}

.avatar-frame {
    width: 45px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.contact-frame {
    width: 45px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border: none;
    border-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: background-color 250ms ease-in-out;
}

.contact-frame:hover{
    background-color: rgb(119, 183, 255);
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.companion-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.getNotified-btn {
    background-color: hsl(0, 100%, 50%);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    transition: background-color 150ms ease-in-out, border-radius 150ms ease-in-out;
    height: 40px;
    
    /* margin: 0 auto; */
    /* width: 25%; */
  }
  
  .getNotified-btn:hover{
    border-radius: 20px;
    background-color: hsl(0, 100%, 45%);
  }

  .grid-container{
    display: grid;
    /* grid-template-columns: 20% 60% 20%; */
    grid-template-rows: auto;
    row-gap: 0.5rem;
  }

  .grid-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .conatact-data{
    text-align: left;
  }

  .copy-btn{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    padding: 0.15rem;
    margin: 0;
    transition: background-color 250ms ease-in-out;
  }

.copy-btn > img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

  .copy-btn:hover{
    background-color: rgb(190, 190, 190);
  }

.close-contact-btn{
    display: flex;
    justify-content: space-around;
}