.date-time{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 4rem auto;
  margin-bottom: 1rem;
  gap: 1rem;
}

.drop-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.destination-selector-button {
  background: #F3F3F3;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #777;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 15px;
  width: 40ch;
}

.dropdown.active > .destination-selector-button,
.destination-selector-button:hover {
  color: black;
}


.dropdown {
  /* flex-shrink: 0; */
  position: relative;
  /* width: 100%; */
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  /* border-radius: 50%; */
  width: 40ch;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-cities {
  display: flex;
  flex-direction: column;
  /* gap: .25rem; */
}

.dropdown-item {
  background: white;
  border: none;
  text-decoration: none;
  /* color: #777; */
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 8px 50px;
  transition: background-color 150ms ease-in-out;
  /* width: 100%; */
}

.dropdown-item:hover {
  background-color: #F3F3F3;
}

.search-btn {
  background-color: hsl(0, 100%, 50%);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  cursor: pointer;
  padding: 5px 20px;
  transition: background-color 150ms ease-in-out, border-radius 150ms ease-in-out;
  height: 40px;
  
  /* margin: 0 auto; */
  /* width: 25%; */
}

.search-btn:hover{
  border-radius: 20px;
  background-color: hsl(0, 100%, 45%);
}