.info-card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    margin: 1rem auto;
    padding: 10px;
    max-width: 30ch;
    text-align: center;
    font-size: 1.3rem;
    white-space: pre-line;
    transition: 250ms ease-in-out;
    backdrop-filter: blur(3px);
}

.info-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
  