.dest{
    width: 12ch;
    margin-right: 0.2rem;
}

.tripDate{
  width:10ch;
}

.trip {
  width: 92%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 3.7rem; */
  margin: 0.4rem;
  margin-bottom: 0;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.view, .modify{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.view{
  width: 90%;
  justify-content: flex-start;
  gap: 0.2rem;
}

.modify{
  justify-content: flex-end;
  gap: 0.2rem;
}

.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.update-button, .delete-button, .search-button{
  width: 25px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  /* border: none; */
  border-color: transparent;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  padding: 0.15rem;
  margin: 0;
  transition: background-color 250ms ease-in-out;
}

.icon-btn{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.update-button:hover{
  background-color: rgb(116, 214, 250);
}

.delete-button:hover{
  background-color: rgb(249, 112, 112);
}

.search-button:hover{
  background-color: rgb(109, 255, 148);
}