.dest{
    width: 12ch;
}

.tripDate{
  width:10ch;
}

.trip {
  width: 93%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* gap: 3.7rem; */
  margin: 0.4rem;
  margin-bottom: 0;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttons > button{
  cursor: pointer;
}

.view, .modify{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.view{
  width: 90%;
  justify-content: flex-start;
  gap: 0.1rem;
}

.modify{
  justify-content: flex-end;
  gap: 0.5rem;
}

.modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.update-button, .delete-button, .search-button{
  width: 25px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  /* border: none; */
  border-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  padding: 0.15rem;
  margin: 0;
  transition: background-color 250ms ease-in-out;
}

.icon-btn{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.update-button:hover{
  background-color: rgb(0, 187, 255);
}

.delete-button:hover{
  background-color: rgb(225, 59, 59);
}

.search-button:hover{
  background-color: rgb(0, 255, 68);
}

.tripTime{
  margin-left: 0.4rem;
}