.date-time{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 4rem auto;
  margin-bottom: 1rem;
  gap: 1rem;
}

.dir-select{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto;
  /* margin-bottom: 1rem; */
  /* gap: 1rem; */
}

.drop-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.destination-selector-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 15px;
  width: 30ch;
  transition: 250ms ease-in-out;
}

.dropdown.active > .destination-selector-button,
.destination-selector-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


.dropdown {
  position: relative;
  font-size: large;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.25rem);
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  width: 30ch;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 150ms ease-in-out;
  border-radius: 10px;
}

.dropdown.active > .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  z-index: 100;
}

.dropdown-cities {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.dropdown-item {
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 8px 50px;
  transition: background-color 250ms ease-in-out;
}

.dropdown-item:hover {
  background-color: rgba(0,0,0,0.55);
}

.search-btn {
  font-size: large;
  font-weight: bold;
  background-color: rgba(100, 150, 255, 0.7);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-family: inherit;
  color: white;
  cursor: pointer;
  padding: 5px 20px;
  transition: background-color 150ms ease-in-out, border-radius 150ms ease-in-out;
  height: 40px;
  
  /* margin: 0 auto; */
  /* width: 25%; */
}

.search-btn:hover{
  border-radius: 20px;
  background-color: rgba(100, 150, 255, 0.9);
}

.icon-ip{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#myCheckbox{
  width: 15px;
  height: 15px;
  margin: 4px 4px 3px 4px;
}

.checkbox-frame{
  border: none;
  background-color: black;
  border-radius: 3px;
}

#to #from{
  width: 15px;
  height: 15px;
  margin: 4px 4px 3px 4px;
}