html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 130px;
  /* bottom = footer height */
  padding: 25px;
}
.footer-container {
  
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    overflow: hidden;
  
  
  /* background-color: var(--transparent_bg); */
  background-color:#000000;
  
  color: white;
  text-align: center;
  }
  
  .footer-row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    
  }
  
  .footer-col {
    width: 30%;
    margin-bottom: 20px;
    padding-left: 3vw;
    box-sizing:border-box;
  }
  
  .footer-col h4 {
    margin-bottom: 4px;
    padding: 0;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .footer-col {
      padding-top:2%;
      padding-left:6%;
      
      
    }
  }

  @media (max-width: 600px) {
    .footer-container {
     font-size: xx-small;
     width:125%;
}
}
