.footer-container {
    background-color: #333;
    color: #fff;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-col {
    width: 30%;
    margin-bottom: 20px;
    padding-left: 3vw;
  }
  
  .footer-col h4 {
    margin-bottom: 4px;
    padding: 0;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .footer-col {
      width: 50%;
      padding: 2vh;
    }
  }

  @media (max-width: 500px) {
    .footer-container {
     font-size: xx-small;
    }
  }