.center-btn > button{
    font-size: large;
    font-weight: bold;
    font-family: inherit;
    /* background-color:rgba(100, 150, 255, 0.7); */
    background-color: var(--accent);
    /* backdrop-filter: blur(5px); */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    /* color: white; */
    color: var(--bg);
    cursor: pointer;
    padding: 5px 20px;
    /* transition: 250ms ease-in-out; */
    height: 40px;

    margin: 1rem auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

}

/* .center-btn > button:hover{
    border-radius: 20px;
    background-color: rgba(100, 150, 255, 0.9);
} */

.center-btn{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}