.popup {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: max-content !important;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    font-size: large;
    color: white;
    padding: 10px;
    border-radius: 5px;
    /* box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5); */
    animation: slide-up 0.3s ease;
    z-index: 200;
  }
  
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }