.user-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    gap: 1rem;
    color: white;
    backdrop-filter: blur(5px);
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
}

.user-menu-title{
    font-weight: bold;
}

.user-menu > *{
    z-index: 100;
    width: 100%;
}

.user-menu-content_item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

/* .user-menu-content_item > img, button > img{
    width: 20px;
    height: 20px;
} */

.inline-buttons{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    /* width: 100%; */
}

.up-modal-btn{
    margin-top: 2rem;
    gap: 2rem;
    width: 85%;
}

.inline-buttons > button{
    /* margin: 0 !important; */
    min-width: 45%;
    height: 35px;
    border-color: transparent;
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--text);
}